---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import CategoryCard from "../components/categorycard.astro";
import Appsection from "../components/appsection.astro";
import Button from "../components/Button.astro";
import Icon from "../components/Icon.astro";
import Categorycard from "../components/categorycard.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Forside - Børnebiffen">
  <Header />
  <main class="container"></main>
  <!-- Hero karousel sektion - CSS Auto-sliding Carousel - Full Width -->
  <section class="relative min-h-[500px] w-full -mt-25">
    <div class="carousel-container w-full h-130 md:h-130 lg:h-160 relative">
      <!-- Slides -->
      <div
        id="slide1"
        class="carousel-slide absolute inset-0 opacity-100 animate-slide1"
      >
        <img src="/img/Mosterhero.webp" class="w-full h-full object-cover" />
        <div
          class="absolute bottom-15 right-8 text-right text-[var(--color-text-label)] z-10"
        >
          <h3 class="text-xl font-bold mb-2">
            Min mosters historier - Den hvide hval
          </h3>
          <p class="text-sm">10 min</p>
        </div>
      </div>

      <div
        id="slide2"
        class="carousel-slide absolute inset-0 opacity-0 animate-slide2"
      >
        <img src="/img/Ritahero.webp" class="w-full h-full object-cover" />
        <div
          class="absolute bottom-15 right-8 text-right text-[var(--color-text-label)] z-10"
        >
          <h3 class="text-xl font-bold mb-2">
            Rita og Krokodillen - Skovturen
          </h3>
          <p class="text-sm">5 min</p>
        </div>
      </div>

      <div
        id="slide3"
        class="carousel-slide absolute inset-0 opacity-0 animate-slide3"
      >
        <img src="/img/Villehero.webp" class="w-full h-full object-cover" />
        <div
          class="absolute bottom-15 right-8 text-right text-[var(--color-text-label)] z-10"
        >
          <h3 class="text-xl font-bold mb-2">Ville og Vilde Kanin</h3>
          <p class="text-sm">29 min</p>
        </div>
      </div>

      <div
        id="slide4"
        class="carousel-slide absolute inset-0 opacity-0 animate-slide4"
      >
        <img src="/img/vitellohero.webp" class="w-full h-full object-cover" />
        <div
          class="absolute bottom-15 right-8 text-right text-[var(--color-text-label)] z-10"
        >
          <h3 class="text-xl font-bold mb-2">Vitello tigger en masse slik</h3>
          <p class="text-sm">15 min</p>
        </div>
      </div>

      <div
        id="slide5"
        class="carousel-slide absolute inset-0 opacity-0 animate-slide5"
      >
        <img src="/img/snudenhero.webp" class="w-full h-full object-cover" />
        <div
          class="absolute bottom-15 right-8 text-right text-[var(--color-text-label)] z-10"
        >
          <h3 class="text-xl font-bold mb-2">Snuden rejser hjemmefra</h3>
          <p class="text-sm">12 min</p>
        </div>
      </div>
    </div>

    <!-- Statisk content der sidder fast ovenpå hele karousellen -->
    <div
      class="absolute -top-10 inset-0 flex flex-col justify-center items-start p-8 z-20 pointer-events-none"
    >
      <div class="pointer-events-auto">
        <Heading htmlheading="h1" size="Large" color="label" weight="Bold"
          >Lad trygt dit barn se film på Børnebiffen</Heading
        >
        <Heading htmlheading="h2" size="Medium" color="label" weight="Light"
          >Se et stort udvalg af klassiske danske børnefilm</Heading
        >
        <button class="btn btn-primary mt-4">Opret profil</button>
      </div>
    </div>

    <!-- Navigation indicators -->
    <div class="flex w-full justify-center gap-2 py-2 absolute bottom-2 z-30">
      <span
        class="hero-nav-dot w-3 h-3 rounded-full bg-white transition-all duration-300 animate-dot1"
      ></span>
      <span
        class="hero-nav-dot w-3 h-3 rounded-full bg-white bg-opacity-50 transition-all duration-300 animate-dot2"
      ></span>
      <span
        class="hero-nav-dot w-3 h-3 rounded-full bg-white bg-opacity-50 transition-all duration-300 animate-dot3"
      ></span>
      <span
        class="hero-nav-dot w-3 h-3 rounded-full bg-white bg-opacity-50 transition-all duration-300 animate-dot4"
      ></span>
      <span
        class="hero-nav-dot w-3 h-3 rounded-full bg-white bg-opacity-50 transition-all duration-300 animate-dot5"
      ></span>
    </div>

    <!-- Popcorn figur overlapper hero -->
    <div
      class="absolute -bottom-26 left-20 md:left-30 lg:left-45 transform -translate-x-1/2 z-40 w-45 md:w-55 lg:w-80 h-45 md:h-55 lg:h-80"
    >
      <img
        src="/img/Popcorn.webp"
        alt="Poppi figur"
        class="w-full h-full object-contain scale-x-[-1]"
      />
    </div>
  </section>

  <!-- log ind sektion -->
  <section class="w-full flex justify-center mt-32 px-4">
    <div class="w-full max-w-md text-center space-y-6">
      <Heading htmlheading="h2" size="Medium" weight="Bold"
        >Se film med de mindste</Heading
      >
      <Heading htmlheading="h3" size="Small" weight="Light"
        >Log ind for at se alt indhold</Heading
      >

      <div class="dropdown dropdown-bottom dropdown-center w-full">
        <div
          tabindex="0"
          role="button"
          class="btn w-full bg-primary text-neutral justify-between text-left whitespace-nowrap"
        >
          <span>Vælg dit lokale bibliotek</span>
          <Icon
            imgDefault="/img/icons/download.webp"
            alt="pil ned"
            size="medium"
          />
        </div>
        <ul
          tabindex="-1"
          class="dropdown-content menu bg-base-300 rounded-box z-1 w-100 p-2 shadow-sm"
        >
          <li><a>Hvidovre Bibliotek</a></li>
          <li><a>Frederiksberg Bibliotek</a></li>
          <li><a>Næstved Bibliotek</a></li>
          <li><a> Lyngby Bibliotek</a></li>
          <li><a>Københavns hovedbibliotek</a></li>
          <li><a>Amager Bibliotek</a></li>
        </ul>
      </div>

      <div class="flex justify-center my-8">
        <div class="w-24 h-px bg-base-300"></div>
      </div>

      <div class="flex flex-col gap-4 w-full">
        <input
          type="text"
          placeholder="CPR/Lånernummer/Bruger ID"
          class="input bg-[var(--color-surface-input)] w-full"
        />
        <div class="relative w-full">
          <input
            type="password"
            placeholder="Indtast pinkode"
            class="input bg-[var(--color-surface-input)] pr-10 w-full"
          />
        </div>
      </div>

      <div class="flex justify-between items-end mt-8 w-full">
        <Link href="#" class="text-sm text-base-100">Ny bruger?</Link>
        <Button variant="primary" size="small">Log ind</Button>
      </div>
    </div>
  </section>

  <!-- App sektion -->
  <section class="mt-30 text-center">
    <Heading htmlheading="h2" size="Medium" weight="Bold" class="text-center"
      >Alle dine yndlingsfilm - Nu også på app</Heading
    >
    <Appsection />
    <Heading
      htmlheading="h3"
      size="Small"
      weight="Light"
      class="text-center mb-8"
      >Giv børnene frihed til at gå på opdagelse</Heading
    >
    <button class="btn btn-primary mt-4">Download appen</button>
  </section>

  <!-- kategory og card slider -->
  <section class="my-24 text-center">
    <div class="carousel py-50">
      <div>
        <!-- Radio buttons til navigation (skjulte) -->
        <input
          type="radio"
          name="category-carousel"
          id="cat-slide1"
          class="hidden"
          checked
        />
        <input
          type="radio"
          name="category-carousel"
          id="cat-slide2"
          class="hidden"
        />
        <input
          type="radio"
          name="category-carousel"
          id="cat-slide3"
          class="hidden"
        />
        <input
          type="radio"
          name="category-carousel"
          id="cat-slide4"
          class="hidden"
        />

        <!-- Slide 1: Venskab -->
        <div
          id="slide1-content"
          class="carousel-item relative w-full flex flex-col h-full"
        >
          <div class="relative mb-40">
            <div
              class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between z-10"
            >
              <label
                for="cat-slide4"
                class="btn btn-circle bg-base-100 cursor-pointer">❮</label
              >
              <label
                for="cat-slide2"
                class="btn btn-circle bg-base-100 cursor-pointer">❯</label
              >
            </div>
            <div
              class="absolute inset-0 flex items-center justify-center mb-30"
            >
              <Categorycard
                imageSrc="/img/venskab.webp"
                imgAlt="Billede der illustrerer venskab"
                label="Venskab"
              />
            </div>
          </div>

          <!-- Cards under billedet -->
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8 px-8 mx-auto max-w-6xl"
          >
            <Card
              imgSrc="/img/Rita.webp"
              imgAlt="Rita og Krokodille"
              title="Rita og Krokodille: Skovturen"
              body="Vennerne skal ud og samle kastanjer i skoven. Rita formaner Krokodille at blive på stien, så han ikke farer vild."
              badgestate="true"
              badge="Venskab"
              duration="5 min"
            />
            <Card
              imgSrc="/img/VilleogVildeKanin.webp"
              imgAlt="Ville og Vilde Kanin"
              title="Ville og Vilde Kanin"
              body="Ville er en lille hvid kanin, der bor i et bur på en bondegård, hvor han har det godt og trygt."
              badgestate="true"
              badge="Venskab"
              duration="29 min"
            />
            <Card
              imgSrc="/img/Snuden.webp"
              imgAlt="Snuden rejser hjemmefra"
              title="Snuden rejser hjemmefra"
              body="Snuden er et hemmeligt og fredeligt dyr, der lever i sin grønne mose. Her er han ven med alle dyr."
              badgestate="true"
              badge="Eventyr"
              duration="17 min"
            />
            <Card
              imgSrc="/img/Moster.webp"
              imgAlt="Min mosters historier"
              title="Min mosters historier - Den hvide hval"
              body="Theodor vil se hvalen Moby Dick. Med hjælp fra Lola og skibskokken Pande bygger Theodor et kæmpe net."
              badgestate="true"
              badge="Historier"
              duration="10 min"
            />
          </div>
        </div>

        <!-- Slide 2: Kærlighed -->
        <div
          id="slide2-content"
          class="carousel-item relative w-full flex flex-col h-full hidden"
        >
          <div class="relative mb-40">
            <div
              class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between z-10"
            >
              <label
                for="cat-slide1"
                class="btn btn-circle bg-base-100 cursor-pointer">❮</label
              >
              <label
                for="cat-slide3"
                class="btn btn-circle bg-base-100 cursor-pointer">❯</label
              >
            </div>
            <div
              class="absolute inset-0 flex items-center justify-center mb-30"
            >
              <Categorycard
                imageSrc="/img/kaerlighed.webp"
                imgAlt="Billede der illustrerer kærlighed"
                label="Kærlighed"
              />
            </div>
          </div>

          <!-- Cards under billedet -->
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8 px-8 mx-auto max-w-6xl"
          >
            <Card
              imgSrc="/img/Vitello.webp"
              imgAlt="Vitello"
              title="Vitello tigger en masse slik"
              body="Fredag er slikdag. Alle andre dage er ikke-slik-dage. Det synes Vitello er meget, meget uretfærdigt."
              badgestate="true"
              badge="Vitello"
              duration="7 min"
            />
            <Card
              imgSrc="/img/LilleFro.webp"
              imgAlt="Lille Frø"
              title="Lille Frø"
              body="Lille Frøs ankomst i den lille frøfamilie er lige så eksplosiv som historien om, hvordan han og hans nye familie skal finde hinanden."
              badgestate="true"
              badge="Familie"
              duration="8 min"
            />
            <Card
              imgSrc="/img/Snemandenogsnehunden.webp"
              imgAlt="Snemanden og Snehunden"
              title="Snemanden og Snehunden"
              body="En lille dreng får sit livs julegave, da den snemand og snehund, han har bygget i sin baghave, bliver vakt til live."
              badgestate="true"
              badge="Vinter"
              duration="24 min"
            />
            <Card
              imgSrc="/img/Snemanden.webp"
              imgAlt="Snemanden"
              title="Snemanden"
              body="En snemand bliver på magisk vis vakt til live i denne smukke, ordløse animationsfilm om barndommens idyl."
              badgestate="true"
              badge="Vinter"
              duration="25 min"
            />
          </div>
        </div>

        <!-- Slide 3: Film med Dyr -->
        <div
          id="slide3-content"
          class="carousel-item relative w-full flex flex-col h-full hidden"
        >
          <div class="relative mb-40">
            <div
              class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between z-10"
            >
              <label
                for="cat-slide2"
                class="btn btn-circle bg-base-100 cursor-pointer">❮</label
              >
              <label
                for="cat-slide4"
                class="btn btn-circle bg-base-100 cursor-pointer">❯</label
              >
            </div>
            <div
              class="absolute inset-0 flex items-center justify-center mb-30"
            >
              <Categorycard
                imageSrc="/img/dyr.webp"
                imgAlt="Billede der illustrerer dyr"
                label="Film med Dyr"
              />
            </div>
          </div>

          <!-- Cards under billedet -->
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8 px-8 mx-auto max-w-6xl"
          >
            <Card
              imgSrc="/img/Rita.webp"
              imgAlt="Rita og Krokodille"
              title="Rita og Krokodille: Skovturen"
              body="Vennerne skal ud og samle kastanjer i skoven. Rita formaner Krokodille at blive på stien."
              badgestate="true"
              badge="Dyr"
              duration="5 min"
            />
            <Card
              imgSrc="/img/VilleogVildeKanin.webp"
              imgAlt="Ville og Vilde Kanin"
              title="Ville og Vilde Kanin"
              body="Ville er en lille hvid kanin, der bor i et bur på en bondegård."
              badgestate="true"
              badge="Dyr"
              duration="29 min"
            />
            <Card
              imgSrc="/img/Snuden.webp"
              imgAlt="Snuden"
              title="Snuden rejser hjemmefra"
              body="Snuden er et hemmeligt og fredeligt dyr, der lever i sin grønne mose."
              badgestate="true"
              badge="Dyr"
              duration="17 min"
            />
            <Card
              imgSrc="/img/LilleFro.webp"
              imgAlt="Lille Frø"
              title="Lille Frø"
              body="Lille Frøs ankomst i den lille frøfamilie er lige så eksplosiv."
              badgestate="true"
              badge="Dyr"
              duration="8 min"
            />
          </div>
        </div>

        <!-- Slide 4: Magiske film -->
        <div
          id="slide4-content"
          class="carousel-item relative w-full flex flex-col h-full hidden"
        >
          <div class="relative mb-40">
            <div
              class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between z-10"
            >
              <label
                for="cat-slide3"
                class="btn btn-circle bg-base-100 cursor-pointer">❮</label
              >
              <label
                for="cat-slide1"
                class="btn btn-circle bg-base-100 cursor-pointer">❯</label
              >
            </div>
            <div
              class="absolute inset-0 flex items-center justify-center mb-30"
            >
              <Categorycard
                imageSrc="/img/magi.webp"
                imgAlt="Billede der illustrerer magi"
                label="Magiske film"
              />
            </div>
          </div>

          <!-- Cards under billedet -->
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8 px-8 mx-auto max-w-6xl"
          >
            <Card
              imgSrc="/img/Snemandenogsnehunden.webp"
              imgAlt="Snemanden og Snehunden"
              title="Snemanden og Snehunden"
              body="En lille dreng får sit livs julegave, da den snemand og snehund bliver vakt til live."
              badgestate="true"
              badge="Magi"
              duration="24 min"
            />
            <Card
              imgSrc="/img/Snemanden.webp"
              imgAlt="Snemanden"
              title="Snemanden"
              body="En snemand bliver på magisk vis vakt til live i denne smukke animationsfilm."
              badgestate="true"
              badge="Magi"
              duration="25 min"
            />
            <Card
              imgSrc="/img/Vitellomodergud.webp"
              imgAlt="Vitello møder gud"
              title="Vitello møder gud"
              body="Vitello møder en gammel mand med et meget stort hvidt skæg. Gud kan få alting til at ske."
              badgestate="true"
              badge="Magi"
              duration="7 min"
            />
            <Card
              imgSrc="/img/LilleFro.webp"
              imgAlt="Lille Frø"
              title="Lille Frø"
              body="En magisk historie om en lille frø og hans eventyrlige rejse."
              badgestate="true"
              badge="Magi"
              duration="8 min"
            />
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Lyt efter ændringer i radio buttons
        const radioButtons = document.querySelectorAll(
          'input[name="category-carousel"]'
        );
        const slides = [
          document.getElementById("slide1-content"),
          document.getElementById("slide2-content"),
          document.getElementById("slide3-content"),
          document.getElementById("slide4-content"),
        ];

        radioButtons.forEach((radio, index) => {
          radio.addEventListener("change", function () {
            if (this.checked) {
              // Skjul alle slides
              slides.forEach((slide) => {
                slide.classList.add("hidden");
              });

              // Vis det aktive slide
              slides[index].classList.remove("hidden");
            }
          });
        });
      });
    </script>
  </section>
</MainLayout>
