---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import CategoryCard from "../components/categorycard.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-4">
    <Heading htmlheading="h1">Lav noget flot!</Heading>
    <Text teksttype="Body">Så bliver Anders glad:-)</Text>

    <!-- Category Cards sektion -->
    <section class="my-8">
      <Heading htmlheading="h2" size="Medium">Kategorier</Heading>

      <CategoryCard imageSrc="/img/Rita.webp" imageAlt="Thumbs up" label="Kategori 1" />
    </section>
  </main>
</MainLayout>
