---
// Henter parametrene fra Astro.props
const { teksttype = "", stylingclasses = "", weight = "", color = "negative" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  Headline: "text-[13px] md:text-[16px] lg:text-[20px]",
  Body: "text-[12px] md:text-[13px] lg:text-[16px]",
  Subtitle: "text-[11px] md:text-[11px] lg:text-[14px]",
  Caption: "text-[12px] md:text-[12px] lg:text-[13px]",
  Footnote: "text-[12px] md:text-[12px] lg:text-[12px]",
};

const typeClasses = {
  Bold: "font-[var(--font-bold)]",
  Light: "font-[var(--font-light)]",
  Regular: "font-[var(--font-regular)]",
  Ekstrabold: "font-[var(--font-ekstrabold)]",
};

const colorClasses = {
  label: "text-[var(--color-text-label)]",
  body: "text-[var(--color-base-content)]",
  negative: "text-[var(--color-primary-content)]",
};
---

<p class:list={[sizeClasses[teksttype], typeClasses[weight], colorClasses[color], stylingclasses]}><slot /></p>
